*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  inline-size: 1200px;
  block-size: 800px;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  max-width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  justify-self: start;
  gap: 40px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield {
  appearance: none;
  width: 225px;
  height: 27px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding: 0;
}

.search-form__textfield:active {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  outline: none;
}

.search-form__textfield:focus-visible, .button:focus-visible {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label {
  display: flex;
  width: fit-content;
  padding: 1px;
}

.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 5px;
}

.search-form__checkbox-list {
  display: flex;
  width: 212px;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  margin: 1.5px 5px 1.5px 0;
}

.search-form__pseudo-checkbox:hover {
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  inset: 1px;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__submit-button, .more-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 34px;
  align-self: end;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 1px;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button:focus-visible::after {
  content: '';
  position: absolute;
  width: 198px;
  height: 38px;
  border: 1px solid #fff;
}

.more-button {
  width: 100%;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
  gap: 26px;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow-y: scroll;
  height: 298px;
}

.content__list::-webkit-scrollbar {
  display: none; 
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  color: white;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  margin: 1px;
}

.content__video-card:hover, .button:hover {
  text-decoration: underline;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16.2px; 
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
  justify-self: end;
}

.button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}